{{- $producerProps := envToProps "CONTROL_CENTER_STREAMS_PRODUCER_" "" (stringSlice) (stringSlice) (stringSlice) -}}
{{- $securityProps := envToProps "CONTROL_CENTER_STREAMS_" "" (stringSlice) (stringSlice) (stringSlice) -}}
{{- range $name, $value := $securityProps }}
{{ $name }}={{ $value }}
{{- end }}
{{- range $name, $value := $producerProps }}
{{ $name }}={{ $value }}
{{- end }}
